In [1]:
days = ['sun', 'mon', 'tue', 'wed', 'thurs' ]

for i in days:
    print(i)

sun
mon
tue
wed
thurs

In [2]:
for i in range(len(days)):
    print(i, days)

0 ['sun', 'mon', 'tue', 'wed', 'thurs']
1 ['sun', 'mon', 'tue', 'wed', 'thurs']
2 ['sun', 'mon', 'tue', 'wed', 'thurs']
3 ['sun', 'mon', 'tue', 'wed', 'thurs']
4 ['sun', 'mon', 'tue', 'wed', 'thurs']

In [4]:
for i in range(len(days)):
    print(i, days(i))

TypeError: 'list' object is not callable

In [5]:
for i in range(len(days)):
    print(i, days[i])

0 sun
1 mon
2 tue
3 wed
4 thurs

In [6]:
for i in range(len(days)):
    print(i+1, days[i])

1 sun
2 mon
3 tue
4 wed
5 thurs

In [8]:
for count, day in enumerate(days, start = 1):
    print(count, day)

1 sun
2 mon
3 tue
4 wed
5 thurs

In [9]:
month = ['jan', 'feb', 'mar', 'apr']

for i in zip(days, month):
    print(i)

('sun', 'jan')
('mon', 'feb')
('tue', 'mar')
('wed', 'apr')

In [10]:
for count, i in enumerate(zip(days, month), start = 1):
    print(i, count)

('sun', 'jan') 1
('mon', 'feb') 2
('tue', 'mar') 3
('wed', 'apr') 4

In [11]:
for count, i in enumerate(zip(days, month), start = 1):
    print(count, i)

1 ('sun', 'jan')
2 ('mon', 'feb')
3 ('tue', 'mar')
4 ('wed', 'apr')

In [12]:
for count, i in enumerate(zip(days, month), start = 1):
    print(count, i[0], 'in', i[1], 'month')

1 sun in jan month
2 mon in feb month
3 tue in mar month
4 wed in apr month

In [17]:
nums = [1,2,3,4,5,6,7,8,9,10]

odds = list(filter(lambda x: x % 2 != 0, nums))

odds

[1, 3, 5, 7, 9]

In [28]:
numbers = [1,2,3,4,5,6,7,8,9,10]

def filterfunct(x):
    if x%2 == 0:
        return False
    else:
        True

In [29]:
odds = list(filter(filterfunct, numbers))
print(odds)

[]

In [30]:
numbers = [1,2,3,4,5,6,7,8,9,10]

def filterfunct(x):
    if x%2 == 0:
        return False
    return True

In [31]:
odds = list(filter(filterfunct, numbers))
print(odds)

[1, 3, 5, 7, 9]

In [32]:
chars = 'abcDEFghiJKL'

lowers = list(filter(lambda x: x == x.lower(), chars))

lowers

['a', 'b', 'c', 'g', 'h', 'i']

In [33]:
chars = 'abcDEFghiJKL'

def lowerfunct(x):
    if x == x.lower():
        return True
    return False
    
lowers = list(filter(lowerfunct, chars))

lowers

['a', 'b', 'c', 'g', 'h', 'i']

In [34]:
nums = [1,2,3,4,5]

squares = list(map(lambda x: x**2, nums))

squares

[1, 4, 9, 16, 25]

In [36]:
nums = [1,2,3,4,5]

def squarefunct(x):
     return x**2

squares = list(map(squarefunct, nums))

squares

[1, 4, 9, 16, 25]

In [41]:
grades = [80, 75, 85,60, 90, 95,50]

grades = sorted(grades)

def tograde(x):
    if (x >= 90 ):
        return 'A'
    elif (x >= 80 < 90):
        return 'B'
    elif (x >= 70 < 80):
        return 'C'
    elif (x >= 60 < 70):
        return 'D'
    return 'F'
    
letters = list(map(tograde, grades))

print(letters)

['F', 'D', 'C', 'B', 'B', 'A', 'A']

In [43]:
grades = [80, 75, 85,60, 90, 95,50]

grades = sorted(grades)

def tograde(x):
    if (x >= 90 ):
        return 'A'
    elif (x >= 80 < 90):
        return 'B'
    elif (x >= 70 < 80):
        return 'C'
    elif (x >= 60 < 70):
        return 'D'
    else:
        return 'F'
    
letters = list(map(tograde, grades))
print(grades)
print(letters)

[50, 60, 75, 80, 85, 90, 95]
['F', 'D', 'C', 'B', 'B', 'A', 'A']

In [44]:
print(map.__doc__)

map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.

In [2]:
import collections
print(collections.__doc__)

This module implements specialized container datatypes providing
alternatives to Python's general purpose built-in containers, dict,
list, set, and tuple.

* namedtuple   factory function for creating tuple subclasses with named fields
* deque        list-like container with fast appends and pops on either end
* ChainMap     dict-like class for creating a single view of multiple mappings
* Counter      dict subclass for counting hashable objects
* OrderedDict  dict subclass that remembers the order entries were added
* defaultdict  dict subclass that calls a factory function to supply missing values
* UserDict     wrapper around dictionary objects for easier dict subclassing
* UserList     wrapper around list objects for easier list subclassing
* UserString   wrapper around string objects for easier string subclassing

In [48]:
ctemps = [0, 12,34, 100]

ftemps = [32, 65, 100, 212]

def f2celcius(temp):
    return (temp - 32) * 5/9

print(list(map(f2celcius, ftemps)))

def c2fahrenheit(temp):
    return (temp * 9/5) + 32

print(list(map(c2fahrenheit, ctemps)))

[0.0, 18.333333333333332, 37.77777777777778, 100.0]
[32.0, 53.6, 93.2, 212.0]

In [52]:
ctemps = [0, 12,34, 100]

ftemps = [32, 65, 100, 212]

print(list(map(lambda x: ((x - 32)* 5/9),ftemps))) 

print(list(map(lambda x: ((x * 9/5) + 32),ctemps)))

[0.0, 18.333333333333332, 37.77777777777778, 100.0]
[32.0, 53.6, 93.2, 212.0]

**namedtuple**

In [3]:
point = collections.namedtuple('point', 'x y')

p1 = point(10,20)

p2 = point(30,40)

print(p1,p2)

point(x=10, y=20) point(x=30, y=40)

In [4]:
print(p1.x)

10

In [5]:
print(p2.y)

40

In [7]:
p1 = p1._replace(x = 100)
print(p1)

point(x=100, y=20)

In [12]:
# define a list of items that we want to count

fruits = ['apple', 'pear', 'orange', 'banana', 'apple', 'grape', 'banana', 'banana']

fruitcount = {}

for fruit in fruits:
    if fruit in fruitcount.keys():
        fruitcount[fruit] += 1
    else:
        fruitcount[fruit] = 1
        
fruitcount

{'apple': 2, 'pear': 1, 'orange': 1, 'banana': 3, 'grape': 1}

**defaultdict**

In [15]:
from collections import defaultdict

In [16]:
fruits = ['apple', 'pear', 'orange', 'banana', 'apple', 'grape', 'banana', 'banana']

fruitcount = defaultdict(int)

for fruit in fruits:
        fruitcount[fruit] += 1
        
fruitcount

defaultdict(int, {'apple': 2, 'pear': 1, 'orange': 1, 'banana': 3, 'grape': 1})

In [17]:
fruits = ['apple', 'pear', 'orange', 'banana', 'apple', 'grape', 'banana', 'banana']

fruitcount = defaultdict(lambda: 100)

for fruit in fruits:
        fruitcount[fruit] += 1
        
fruitcount

defaultdict(<function __main__.<lambda>()>,
            {'apple': 102,
             'pear': 101,
             'orange': 101,
             'banana': 103,
             'grape': 101})

**Counters**

In [18]:
from collections import Counter

In [24]:
# list of students in class 1

class1 = ['Bob', 'Becky', 'chad', 'Darcy', 'Frank', 'Hannah', 'james',
          'kevin', 'james', 'melanie', 'Penny', 'Steve']

# list of students in class 2

class2 = ['Bill', 'Barry', 'Cindy', 'Debbie', 'Frank', 'Gabby', 'kelly',
           'james', 'joe', 'sam', 'Tara', 'Ziggy']

In [25]:
# create a counter for class 1 and class 2

c1 = Counter(class1)
c2 = Counter(class2)

print(c1)

Counter({'james': 2, 'Bob': 1, 'Becky': 1, 'chad': 1, 'Darcy': 1, 'Frank': 1, 'Hannah': 1, 'kevin': 1, 'melanie': 1, 'Penny': 1, 'Steve': 1})

In [26]:
print(c2)

Counter({'Bill': 1, 'Barry': 1, 'Cindy': 1, 'Debbie': 1, 'Frank': 1, 'Gabby': 1, 'kelly': 1, 'james': 1, 'joe': 1, 'sam': 1, 'Tara': 1, 'Ziggy': 1})

In [28]:
# how many students in class1 named james?

print(c1['james'], 'students named as james')

2 students named as james

In [30]:
# how many students are in class 1?

print(sum(c1.values()), '- total no.of students in class 1')

12 - total no.of students in class 1

In [31]:
# combine the two classes

c1.update(class2)

In [33]:
print(sum(c1.values()), '- total no.of students in class 1 after combining 2 classes')

24 - total no.of students in class 1 after combining 2 classes

In [35]:
# what's the most common name in the two classes?

print(c1.most_common(3))

[('james', 3), ('Frank', 2), ('Bob', 1)]

In [36]:
# seperate the classes again

c1.subtract(class2)

In [37]:
print(c1.most_common(3))

[('james', 2), ('Bob', 1), ('Becky', 1)]

In [38]:
# what's common between the two classes?

print(c1 & c2)

Counter({'Frank': 1, 'james': 1})

**OrderedDict**

In [40]:
from collections import OrderedDict

In [41]:
# list of sport teams with wins and losses.

sportTeams = [('Royals', (18,12)), ('Rockets', (24,6)),
              ('Cardinals',(20,10)) , ('Dragons', (22,8)),
              ('kings', (15,15)), ('chargers', (20,10)), 
              ('jets', (16,14)), ('warriors', (25,5)) ]

In [42]:
# sort the teams by no.of wins

sortedteams = sorted(sportTeams)

In [43]:
sortedteams

[('Cardinals', (20, 10)),
 ('Dragons', (22, 8)),
 ('Rockets', (24, 6)),
 ('Royals', (18, 12)),
 ('chargers', (20, 10)),
 ('jets', (16, 14)),
 ('kings', (15, 15)),
 ('warriors', (25, 5))]

In [48]:
sortedteams = sorted(sportTeams, key = lambda x: x[1][0], reverse = True)

In [49]:
sortedteams

[('warriors', (25, 5)),
 ('Rockets', (24, 6)),
 ('Dragons', (22, 8)),
 ('Cardinals', (20, 10)),
 ('chargers', (20, 10)),
 ('Royals', (18, 12)),
 ('jets', (16, 14)),
 ('kings', (15, 15))]

In [50]:
# create an ordered dictionary of the teams

teams = OrderedDict(sortedteams)

print(teams)

OrderedDict([('warriors', (25, 5)), ('Rockets', (24, 6)), ('Dragons', (22, 8)), ('Cardinals', (20, 10)), ('chargers', (20, 10)), ('Royals', (18, 12)), ('jets', (16, 14)), ('kings', (15, 15))])

In [51]:
# use popitem to remove the last item

teams.popitem()

('kings', (15, 15))

In [52]:
# use popitem to remove the top item

teams.popitem(False)

('warriors', (25, 5))

In [53]:
# what are next top 4 items

for i, team in enumerate(teams, start = 1):
    print(i, team)

1 Rockets
2 Dragons
3 Cardinals
4 chargers
5 Royals
6 jets

In [54]:
for i, team in enumerate(teams, start = 1):
    print(i, team)
    if i == 4:
        break

1 Rockets
2 Dragons
3 Cardinals
4 chargers

In [55]:
# test for equality

a = OrderedDict({'a': 1, 'b': 2, 'c': 3})

b = OrderedDict({'a': 1, 'b': 2, 'c': 3})

a == b

True

In [56]:
a = OrderedDict({'a': 1, 'b': 2, 'c': 3})

b = OrderedDict({'a': 1, 'c': 3, 'b': 2})

a == b

False

In [57]:
a = {'a': 1, 'b': 2, 'c': 3}

b = {'a': 1, 'c': 3, 'b': 2}

a == b

True

**Deque**

double-ended queue, pronounced 'deck'

In [59]:
import string

In [61]:
# initialize a deque with lowercase letters

d = collections.deque(string.ascii_lowercase)

print(d)

deque(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'])

In [62]:
D = collections.deque(string.ascii_uppercase)

print(D)

deque(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'])

In [64]:
# deques support the len() function

print(len(d), 'letters')

26 letters

In [65]:
# deques can be iterated over

for item in d:
    print(item.upper())

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [67]:
# manipulate items from either end

d.pop()
d.popleft()

print(d)

deque(['c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x'])

In [68]:
d.append(2)
d.appendleft(1)

print(d)

deque([1, 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 2])

In [69]:
# rotate the deque

d.rotate(10)

print(d)

deque(['p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 2, 1, 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o'])

**defining enumerations**

In [83]:
from enum import Enum, unique, auto

In [72]:
class fruit(Enum):
    apple = 1
    banana = 2
    grapes = 3
    orange = 4

In [73]:
print(fruit.apple)

fruit.apple

In [74]:
print(type(fruit.apple))

<enum 'fruit'>

In [75]:
print(repr(fruit.apple))

<fruit.apple: 1>

In [76]:
print(fruit.apple.name, fruit.apple.value)

apple 1

In [79]:
class fruit(Enum):
    apple = 1
    banana = 2
    grapes = 3
    orange = 4
    apple = 6
print(fruit.apple.name, fruit.apple.value)

TypeError: Attempted to reuse key: 'apple'

In [80]:
class fruit(Enum):
    apple = 1
    banana = 2
    grapes = 3
    orange = 4
    pineapple = 1
print(fruit.apple.name, fruit.apple.value)

apple 1

In [82]:
@unique
class fruit(Enum):
    apple = 1
    banana = 2
    grapes = 3
    orange = 4
    pineapple = 1
print(fruit.apple.name, fruit.apple.value)

ValueError: duplicate values found in <enum 'fruit'>: pineapple -> apple

In [85]:
class fruit(Enum):
    apple = 1
    banana = 2
    grapes = 3
    orange = 4
    pineapple = auto()
print(fruit.pineapple.name, fruit.pineapple.value)

pineapple 5

In [87]:
class person():
    def __init__(self):
        self.fname = 'Joe'
        self.lname = 'Marini'
        self.age = 25

In [88]:
cls1 = person()

In [89]:
print(str(cls1))

<__main__.person object at 0x0000012389086D08>

In [90]:
print(repr(cls1))

<__main__.person object at 0x0000012389086D08>

In [91]:
print('Formatted: {0}'.format(cls1))

Formatted: <__main__.person object at 0x0000012389086D08>

In [96]:
class person():
    def __init__(self):
        self.fname = 'Joe'
        self.lname = 'Marini'
        self.age = 25
        
    def __repr__(self):
        return 'person class - fname:{0}, lname:{1}, age:{2}'.format(self.fname,self.lname, self.age)

In [97]:
cls1 = person()
print(str(cls1))
print(repr(cls1))

person class - fname:Joe, lname:Marini, age:25
person class - fname:Joe, lname:Marini, age:25

In [100]:
class person():
    def __init__(self):
        self.fname = 'Joe'
        self.lname = 'Marini'
        self.age = 25
        
    def __repr__(self):
        return 'person class - fname:{0}, lname:{1}, age:{2}'.format(self.fname,self.lname, self.age)
    
    def __str__(self):
        return 'Person ({0} {1} is {2} years old)'.format(self.fname,self.lname, self.age)

In [101]:
cls1 = person()

print(str(cls1))

print(repr(cls1))

Person (Joe Marini is 25 years old)
person class - fname:Joe, lname:Marini, age:25

In [104]:
class person():
    def __init__(self):
        self.fname = 'Joe'
        self.lname = 'Marini'
        self.age = 25
        
    def __repr__(self):
        return 'person class - fname:{0}, lname:{1}, age:{2}'.format(self.fname,self.lname, self.age)
    
    def __str__(self):
        return 'Person ({0} {1} is {2} years old)'.format(self.fname,self.lname, self.age)
    
    def __bytes__(self):
        val = 'Person: {0}: {1}: {2}'.format(self.fname,self.lname, self.age) 
        return bytes(val.encode('utf-8'))

In [105]:
cls1 = person()

print(str(cls1))

print(repr(cls1))

print(bytes(cls1))

Person (Joe Marini is 25 years old)
person class - fname:Joe, lname:Marini, age:25
b'Person: Joe: Marini: 25'